body{
  background: #000;
  color: #fff
}

h1{
  color: yellow;
}

p{
  font-size: 18px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul{
  margin: 0;
  padding: 0;
}
